#contacto {
    padding: 5rem 1rem 2rem 1rem;
    background-color: $white;
    .contacto-mapa {
        width: 100%;
        height: 100%;
        margin-top: 2rem;
    }
    .contacto-info {
        padding: 1rem 0;
        border-radius: 15px;
        background-color: $white;
        h3 {
            margin-top: 0.5rem;
            color: $primaryColor;
        }
    }
    .enviar-msg {
        color: $primaryColor;
        font-weight: 800;
        text-transform: uppercase;
        width: 150px;
        border-radius: 15px;
        background: $white;
        box-shadow: 5px 5px 15px #bebebeb2, -5px -5px 15px #ffffff;
        border: 0;
        padding: 0.5rem;
        margin: 1rem 0;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #contacto {
        position: relative;
        padding: 3rem 2rem 6rem 2rem;
        .contacto-info {
            position: absolute;
            z-index: 1000;
            width: 300px;
            top: 150px;
            left: 35px;
            border-radius: 1rem;
            background: rgba(255, 255, 255, 0.25);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(4px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            padding: 1.5rem;
            .enviar-msg {
                background-color: $primaryColor;
                color: $white;
            }
            a {
                text-decoration: none;
                transition: all 0.2s;
                font-weight: 800;
                &:hover {
                    font-size: 15px;
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    #contacto {
        padding: 5rem 2rem 2rem 2rem;
        .contacto-info {
            top: 310px;
            left: 2.5rem;
        }
    }
}
